/* .container{
   width: 100vw;
   height: 100vh;

    background-image: url(../assets/bgImg/bgProject.jpg);
    background-size: cover;
    opacity: 0.5;
    
} */
.containerNav{
    width: 99.2vw;
}