<div class="tableContainer">
       
<!--     <table class="tabella" >
      <thead>
        <tr>
                        <th >Id</th>
                        <th>Codice Prodotto</th>
                        <th >Tipo</th>
                        <th >Codici Ricerca Web</th>
          <th >Auto Compatibili</th>
          <th >Descrizione</th>
          <th >Prezzo</th>
                       
                    </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prodotto of prodotti">
          <td >{{prodotto.idProdotto}}</td>
          <td >{{prodotto.codProdotto}}</td>
          <td >{{prodotto.tipo}}</td>
          <td >{{prodotto.codici}}</td>
          <td >{{prodotto.autoCompatibile}}</td>
          <td >{{prodotto.descrizione}}</td>
          <td >{{prodotto.prezzo | currency : 'EUR'}}</td>
    

          <td >
            <button href="#" class="btn btn-light text-danger">Elimina</button>
                            <div>
                                <button href="#" data-bs-toggle="dropdown" class="btn btn-light">
                <i ></i>
              </button>
                                <ul >
                                    <li><a class="dropdown-item" href="#">Dettaglio</a></li>
                                    <li><a class="dropdown-item" href="#">Info</a></li>
                                    <li><a class="dropdown-item" href="#">Modifica</a></li>
                                </ul>
                            </div> 
                       </td>

        </tr>
      </tbody>
    </table>  -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

<table class="darkTable">
  <thead>
  <tr>
  <th>Id</th>
  <th>Codice Prodotto</th>
  <th>Tipo</th>
  <th>Codice</th>
  <th>Auto Compatibili</th>
  <th>Descrizione</th>
  <th>Prezzo</th>
  <th>Delete & Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let prodotto of prod">
  <td>{{prodotto.idProdotto}}</td>
  <td>{{prodotto.codProdotto}}</td>
  <td>{{prodotto.tipo}}</td>
  <td>{{prodotto.codici}}</td>
  <td>{{prodotto.autoCompatibile}}</td>
  <td>{{prodotto.descrizione}}</td>
  <td>{{prodotto.prezzo | currency : 'EUR'}}</td>
  <td></td>
  </tr>
  </tbody>
  </table>




</div>
