<div class="container">
    <form #editform="ngForm" (ngSubmit)="onSubmit(editform)">
        <h1>Edit Form</h1>
        <mat-form-field>
          <mat-label>Codice Prodotto</mat-label>
          <input matInput readonly name="codProdotto" [(ngModel)]="saveCod">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input matInput name="tipo"  [(ngModel)]="tipo" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Codici</mat-label>
          <input matInput name="codici" [(ngModel)]="codici">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Auto compatibili</mat-label>
          <input matInput name="autoCompatibile"  [(ngModel)]="autoCompatibili" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <textarea matInput name="descrizione"  [(ngModel)]="descrizione"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prezzo</mat-label>
          <input matInput name="prezzo" [(ngModel)]="prezzo" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Priorita (1-10)</mat-label>
          <input matInput readonly name="priorita"[(ngModel)]="priorita" type="number">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!editform.valid">Invia</button>
       </form>
</div>
